:root {
  --orange: orangered;
  --pink: salmon;
}
header {
  height: 150px;
  background-color: var(--orange);
  display: flex;
  justify-content: space-between;
  border-bottom: 20px solid var(--pink);
}
.logo {
  font-size: 150%;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-right: 20px solid var(--pink);
  height: 150px;
  width: 250px;
  padding-top: 20%;
  padding-left: 2%;
}
a:link {
  color: white;
}
a:visited {
  color: var(--pink);
}

nav {
  padding-top: 50%;
}
header ul li {
  display: inline;
  margin-right: 20px;
  border-right: 10px solid var(--pink);
  padding-right: 10px;
}

main {
  display: flex;
  flex-direction: column;
  position: relative;
}
aside {
  min-width: 250px;
  background-color: var(--orange);
  border-right: 20px solid var(--pink);
  height: 1400px;
  float: left;
}
.this-page {
  margin-left: 30px;
  margin-top: 40px;
}
.nav {
  padding: 1%;
  font-size: 100%;
  width: 130px;
  border-right: 10px solid var(--pink);
}
.this-page li {
  margin-top: 15px;
}
.graphic {
  width: 900px;
  margin-left: 15%;
}
.heading {
  padding: 1%;
  font-size: 125%;
  margin-left: 45%;
  width: 130px;
  border-right: 10px solid var(--pink);
}
.about p {
  height: 300px;
}

.headshot {
  width: 200px;
  height: 300px;
  float: left;
}
.projects {
  height: 100px;
}
.contact-info {
  margin: 5%;
}
.contact-info li {
  display: inline;
  margin-right: 20%;
}

.about:hover .heading-about {
  border-bottom: 10px solid var(--pink);
}
.this-page:hover .heading-nav {
  border-bottom: 10px solid var(--pink);
}
.projects:hover .heading-projects {
  border-bottom: 10px solid var(--pink);
}
.contact:hover .heading-contact {
  border-bottom: 10px solid var(--pink);
}
.git-link:hover {
  border-bottom: 10px solid var(--pink);
}
.contact-link:hover {
  border-bottom: 10px solid var(--pink);
}
