:root {
  --orange: orangered;
  --pink: salmon;
}
body{
  font-family: 'Quicksand', sans-serif;
}
header {
  height: 150px;
  background-color: var(--orange);
  display: flex;
  justify-content: space-between;
  border-bottom: 20px solid var(--pink);
}
.logo {
  font-size: 250%;
  font-family: 'Caveat', cursive;
  border-right: 20px solid var(--pink);
  width: 20%;
  padding-top: 2%;
  padding-left: 2%
  position: relative;
  
}

.logo span{
  display: block;
  position: absolute;
  left: 8%;

}
a:link {
  color: white;
}
a:visited {
  color: white;
}

nav {
  padding-top: 30%;
}
header ul li {
  display: inline;
  margin-right: 20px;
  border-right: 10px solid var(--pink);
  padding-right: 10px;
}

main {
  height: 1500px;
}

aside {
  width: 20%;
  background-color: var(--orange);
  border-right: 20px solid var(--pink);
  height: 100%;
  float: left;
}
article{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;

}
.this-page {
  margin-left: 30px;
  margin-top: 40px;
}
.nav {
  padding: 1%;
  font-size: 100%;
  width: 130px;
  border-right: 10px solid var(--pink);
}
.this-page li {
  margin-top: 15px;
}
.graphic {
  width: 95%;
  margin-left: 5%;
}
.heading {
  padding: 1%;
  font-size: 125%;
  margin-left: 45%;
  width: 130px;
  border-right: 10px solid var(--pink);
}
.about p {
  height: 300px;
}

.headshot {
  width: 200px;
  height: 300px;
  float: left;
}
.projects {
  height: 100px;
}

#contact{
  background-color: var(--orange);
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding-bottom: 3%;

}
}
.contact-info {
  margin: 5%;
}
.contact-info li {
  display: inline;
  margin-right: 20%;
}

.about:hover .heading-about,
.this-page:hover .heading-nav,
.projects:hover .heading-projects,
.contact:hover .heading-contact,
.git-link:hover,
.contact-link:hover,
.linked-link:hover {
  border-bottom: 5px solid var(--pink);
  padding-bottom: 2%;
}
/*
.this-page:hover .heading-nav {
  border-bottom: 10px solid var(--pink);
}
.projects:hover .heading-projects {
  border-bottom: 10px solid var(--pink);
}
.contact:hover .heading-contact {
  border-bottom: 10px solid var(--pink);
}
.git-link:hover {
  border-bottom: 10px solid var(--pink);
}
.contact-link:hover {
  border-bottom: 10px solid var(--pink);
}
*/
